<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Знакомство-с-данными" data-toc-modified-id="Знакомство-с-данными-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Знакомство с данными</a></span><ul class="toc-item"><li><span><a href="#Импорт-библиотек" data-toc-modified-id="Импорт-библиотек-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Импорт библиотек</a></span></li><li><span><a href="#Чтение-данных" data-toc-modified-id="Чтение-данных-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Чтение данных</a></span></li></ul></li><li><span><a href="#Изучение-характеристик-процесса-обработки-стали" data-toc-modified-id="Изучение-характеристик-процесса-обработки-стали-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Изучение характеристик процесса обработки стали</a></span><ul class="toc-item"><li><span><a href="#Определение-длительности-времени-между-первым-и-последним-замером-температуры." data-toc-modified-id="Определение-длительности-времени-между-первым-и-последним-замером-температуры.-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Определение длительности времени между первым и последним замером температуры.</a></span><ul class="toc-item"><li><span><a href="#Вычисление-статистики-длительности-времени-между-первым-и-последним-замером-температуры:-средние,-минимальные-и-максимальные-значения,-медианы-и-величины-25%--и-75%-квартилей" data-toc-modified-id="Вычисление-статистики-длительности-времени-между-первым-и-последним-замером-температуры:-средние,-минимальные-и-максимальные-значения,-медианы-и-величины-25%--и-75%-квартилей-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Вычисление статистики длительности времени между первым и последним замером температуры: средние, минимальные и максимальные значения, медианы и величины 25%- и 75%-квартилей</a></span></li></ul></li><li><span><a href="#Определение-суммарного-времени-нагрева-электродами,-то-есть-суммы-значений-по-всем-промежуткам-между-запусками-нагрева-электродов" data-toc-modified-id="Определение-суммарного-времени-нагрева-электродами,-то-есть-суммы-значений-по-всем-промежуткам-между-запусками-нагрева-электродов-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Определение суммарного времени нагрева электродами, то есть суммы значений по всем промежуткам между запусками нагрева электродов</a></span><ul class="toc-item"><li><span><a href="#Вычисление-статистики-суммарного-времени-нагрева-электродами:-средние,-минимальные-и-максимальные-значения,-медианы-и-величины-25%--и-75%-квартилей" data-toc-modified-id="Вычисление-статистики-суммарного-времени-нагрева-электродами:-средние,-минимальные-и-максимальные-значения,-медианы-и-величины-25%--и-75%-квартилей-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Вычисление статистики суммарного времени нагрева электродами: средние, минимальные и максимальные значения, медианы и величины 25%- и 75%-квартилей</a></span></li></ul></li><li><span><a href="#Определение-количества-запусков-нагрева-электродами" data-toc-modified-id="Определение-количества-запусков-нагрева-электродами-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Определение количества запусков нагрева электродами</a></span><ul class="toc-item"><li><span><a href="#Вычисление-статистики-количества-запусков-нагрева-электродами:-средние,-минимальные-и-максимальные-значения,-медианы-и-величины-25%--и-75%-квартилей" data-toc-modified-id="Вычисление-статистики-количества-запусков-нагрева-электродами:-средние,-минимальные-и-максимальные-значения,-медианы-и-величины-25%--и-75%-квартилей-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Вычисление статистики количества запусков нагрева электродами: средние, минимальные и максимальные значения, медианы и величины 25%- и 75%-квартилей</a></span></li></ul></li><li><span><a href="#Определение-среднего-соотношение-потребления-активной-и-реактивной-мощности" data-toc-modified-id="Определение-среднего-соотношение-потребления-активной-и-реактивной-мощности-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Определение среднего соотношение потребления активной и реактивной мощности</a></span><ul class="toc-item"><li><span><a href="#Вычисление-статистики-среднего-соотношение-потребления-активной-и-реактивной-мощности:-средние,-минимальные-и-максимальные-значения,-медианы-и-величины-25%--и-75%-квартилей" data-toc-modified-id="Вычисление-статистики-среднего-соотношение-потребления-активной-и-реактивной-мощности:-средние,-минимальные-и-максимальные-значения,-медианы-и-величины-25%--и-75%-квартилей-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Вычисление статистики среднего соотношение потребления активной и реактивной мощности: средние, минимальные и максимальные значения, медианы и величины 25%- и 75%-квартилей</a></span></li></ul></li></ul></li><li><span><a href="#Объедиение-полученных-данных" data-toc-modified-id="Объедиение-полученных-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Объедиение полученных данных</a></span></li><li><span><a href="#Вывод-результатов" data-toc-modified-id="Вывод-результатов-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Вывод результатов</a></span></li><li><span><a href="#Общий-вывод" data-toc-modified-id="Общий-вывод-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Общий вывод</a></span></li></ul></div>

# Яндекс. Промышленность. Eduflow.

*Вам поручили изучить характеристики процесса обработки стали. Для каждого значения столбца key найдите:*

*Длительность времени между первым и последним замером температуры.
Суммарное время нагрева электродами, то есть сумму значений по всем промежуткам между запусками нагрева электродов.
Количество запусков нагрева электродами.
Среднее соотношение потребления активной и реактивной мощности.
По всем полученным столбцам вычислите статистики: средние, минимальные и максимальные значения, медиану и величины 25%- и 75%-квартилей.*

## Знакомство с данными

### Импорт библиотек

In [1]:
import pandas as pd
import numpy as np
import math as m
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

from numpy.random import RandomState
from scipy import stats as st

#from IPython.core.display import display, HTML
from IPython.display import HTML
from IPython.display import display_html

from IPython.display import display, Math, Latex

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.dummy import DummyRegressor
from lightgbm import LGBMRegressor
import catboost as cb
from catboost import CatBoostRegressor
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score,cross_validate,RandomizedSearchCV
from sklearn.metrics import accuracy_score, mean_squared_error,mean_absolute_error, make_scorer

pd.set_option('display.max_columns', None)         # Снимем ограничение на количество показываемых столбцов
pd.options.mode.chained_assignment = None          # Скрываем предупреждение при масшатбировании
warnings.filterwarnings('ignore')                  # Игнорируем предупреждения

### Чтение данных

In [2]:
try:
    data_arc = pd.read_csv('data_arc.csv',sep=',')
    data_bulk = pd.read_csv('data_bulk.csv',sep=',')
    data_bulk_time = pd.read_csv('data_bulk_time.csv',sep=',')
    data_gas = pd.read_csv('data_gas.csv',sep=',')
    data_temp = pd.read_csv('data_temp.csv',sep=',')
    data_wire = pd.read_csv('data_wire.csv',sep=',')
    data_wire_time = pd.read_csv('data_wire_time.csv',sep=',')
except:
    data_arc = pd.read_csv('/datasets/final_steel/data_arc.csv',sep=',')
    data_bulk = pd.read_csv('/datasets/final_steel/data_bulk.csv',sep=',')
    data_bulk_time = pd.read_csv('/datasets/final_steel/data_bulk_time.csv',sep=',')
    data_gas = pd.read_csv('/datasets/final_steel/data_gas.csv',sep=',')
    data_temp = pd.read_csv('/datasets/final_steel/data_temp.csv',sep=',')
    data_wire = pd.read_csv('/datasets/final_steel/data_wire.csv',sep=',')
    data_wire_time = pd.read_csv('/datasets/final_steel/data_wire_time.csv',sep=',')

## Изучение характеристик процесса обработки стали

### Определение длительности времени между первым и последним замером температуры.

*Таблица `data_temp` содержит данные о последовательных измерениях температуры*

In [3]:
data_temp.head(5)

   key         Время замера  Температура
0    1  2019-05-03 11:16:18       1571.0
1    1  2019-05-03 11:25:53       1604.0
2    1  2019-05-03 11:29:11       1618.0
3    1  2019-05-03 11:30:01       1601.0
4    1  2019-05-03 11:30:39       1613.0

In [4]:
#Удалим пропуски
data_temp = data_temp.dropna()

#Переведём время в формат DateTime
data_temp['Время замера'] = pd.to_datetime(data_temp['Время замера'])

In [5]:
#Сгруппируем замеры таким образом, чтобы сохранить только последнее измерение температуры
data_temp_last = data_temp.groupby(by=['key'], as_index = False).nth(-1)
data_temp_last.rename(columns={'Температура': 'Последняя температура'}, inplace=True)
data_temp_last.rename(columns={'Время замера': 'Время последней температуры'}, inplace=True)
data_temp_last.head(5)

    key Время последней температуры  Последняя температура
4     1         2019-05-03 11:30:39                 1613.0
10    2         2019-05-03 11:59:12                 1602.0
15    3         2019-05-03 12:34:57                 1599.0
18    4         2019-05-03 12:59:25                 1625.0
20    5         2019-05-03 13:36:01                 1602.0

In [6]:
#Сгруппируем замеры таким образом, чтобы сохранить только первое измерение температуры
data_temp_first = data_temp.groupby(by=['key'], as_index = False).nth(0)
data_temp_first.rename(columns={'Температура': 'Первая температура'}, inplace=True)
data_temp_first.rename(columns={'Время замера': 'Время первой температуры'}, inplace=True)
data_temp_first.head(5)

    key Время первой температуры  Первая температура
0     1      2019-05-03 11:16:18              1571.0
5     2      2019-05-03 11:37:27              1581.0
11    3      2019-05-03 12:13:17              1596.0
16    4      2019-05-03 12:52:57              1601.0
19    5      2019-05-03 13:23:19              1576.0

In [7]:
#Объединим данные в одну таблицу
data_temp_group = data_temp_first.join(data_temp_last.set_index('key'), on = 'key', how = 'inner')
data_temp_group.head(5)

,key,Время первой температуры,Первая температура,Время последней температуры,Последняя температура
0,1,2019-05-03 11:16:18,1571.0,2019-05-03 11:30:39,1613.0
5,2,2019-05-03 11:37:27,1581.0,2019-05-03 11:59:12,1602.0
11,3,2019-05-03 12:13:17,1596.0,2019-05-03 12:34:57,1599.0
16,4,2019-05-03 12:52:57,1601.0,2019-05-03 12:59:25,1625.0
19,5,2019-05-03 13:23:19,1576.0,2019-05-03 13:36:01,1602.0

In [8]:
data_temp_group['Длительность между первым и последним замером температуры'] = (data_temp_group['Время последней температуры'] \
                                        - data_temp_group['Время первой температуры']).dt.total_seconds()

data_temp_group.head(5)

,key,Время первой температуры,Первая температура,Время последней температуры,Последняя температура,Длительность между первым и последним замером температуры
0,1,2019-05-03 11:16:18,1571.0,2019-05-03 11:30:39,1613.0,861.0
5,2,2019-05-03 11:37:27,1581.0,2019-05-03 11:59:12,1602.0,1305.0
11,3,2019-05-03 12:13:17,1596.0,2019-05-03 12:34:57,1599.0,1300.0
16,4,2019-05-03 12:52:57,1601.0,2019-05-03 12:59:25,1625.0,388.0
19,5,2019-05-03 13:23:19,1576.0,2019-05-03 13:36:01,1602.0,762.0

In [9]:
data_temp_group = data_temp_group.drop(['Время первой температуры','Первая температура',
                                        'Время последней температуры','Последняя температура'], axis=1)
data_temp_group.head(5)

    key  Длительность между первым и последним замером температуры
0     1                                              861.0
5     2                                             1305.0
11    3                                             1300.0
16    4                                              388.0
19    5                                              762.0

#### Вычисление статистики длительности времени между первым и последним замером температуры: средние, минимальные и максимальные значения, медианы и величины 25%- и 75%-квартилей

In [10]:
def statistic_info (df,column):
    '''
    Принимает на вход источник данных (название таблицы) и категорию (название столбца)
    Возвращает: среднее значение, минимум, максимум, медиану, значние 25%- и 75%-квантилей
    '''
    
    mean = round(df[column].mean(),2)
    minimum = round(df[column].min(),2)
    maximum = round(df[column].max(),2)
    median = round(df[column].median(),2)
    q_25 = round(df[column].quantile(0.25),2)
    q_75 = round(df[column].quantile(0.75),2)
    
    return mean, minimum, maximum, median, q_25, q_75

In [11]:
#Вычисление среднего значения
#Вычисление минимального значения
#Вычисление максимального значения
#Вычисление медианы
#Вычисление значения 25%-квантиля
#Вычисление значения 75%-квантиля
time_temp_mean, time_temp_min, time_temp_max, time_temp_median, time_temp_q_25, time_temp_q_75  = \
        statistic_info (data_temp_group,'Длительность между первым и последним замером температуры')

print('Среднее значение:',time_temp_mean)
print('Минимальное значение:',time_temp_min)
print('Максимальное значение:',time_temp_max)
print('Медиана:',time_temp_median)
print('Значение 25%-квантиля:',time_temp_q_25)
print('Значение 25%-квантиля:',time_temp_q_75)

Среднее значение: 1427.55
Минимальное значение: 0.0
Максимальное значение: 23537.0
Медиана: 1334.0
Значение 25%-квантиля: 606.5
Значение 25%-квантиля: 2005.75

### Определение суммарного времени нагрева электродами, то есть суммы значений по всем промежуткам между запусками нагрева электродов

*Таблица `data_arc` содержит данные о последовательных нагревах электродами*

In [12]:
data_arc.head(5)

,key,Начало нагрева дугой,Конец нагрева дугой,Активная мощность,Реактивная мощность
0,1,2019-05-03 11:02:14,2019-05-03 11:06:02,0.976059,0.687084
1,1,2019-05-03 11:07:28,2019-05-03 11:10:33,0.805607,0.520285
2,1,2019-05-03 11:11:44,2019-05-03 11:14:36,0.744363,0.498805
3,1,2019-05-03 11:18:14,2019-05-03 11:24:19,1.659363,1.062669
4,1,2019-05-03 11:26:09,2019-05-03 11:28:37,0.692755,0.414397

In [13]:
#Переведём время в формат DateTime
data_arc['Начало нагрева дугой'] = pd.to_datetime(data_arc['Начало нагрева дугой'])
data_arc['Конец нагрева дугой'] = pd.to_datetime(data_arc['Конец нагрева дугой'])

In [14]:
#Создадим столбец, где будет храниться время нагрева дугой
data_arc['Время нагрева дугой'] = (data_arc['Конец нагрева дугой'] - \
                                   data_arc['Начало нагрева дугой']).dt.total_seconds()
data_arc.head(5)

,key,Начало нагрева дугой,Конец нагрева дугой,Активная мощность,Реактивная мощность,Время нагрева дугой
0,1,2019-05-03 11:02:14,2019-05-03 11:06:02,0.976059,0.687084,228.0
1,1,2019-05-03 11:07:28,2019-05-03 11:10:33,0.805607,0.520285,185.0
2,1,2019-05-03 11:11:44,2019-05-03 11:14:36,0.744363,0.498805,172.0
3,1,2019-05-03 11:18:14,2019-05-03 11:24:19,1.659363,1.062669,365.0
4,1,2019-05-03 11:26:09,2019-05-03 11:28:37,0.692755,0.414397,148.0

In [15]:
#Сгруппируем данные по ключу с суммированием времени нагрева
data_arc_heat_time = data_arc[['key','Время нагрева дугой']].groupby(by=['key'], as_index = False).sum()
data_arc_heat_time.head(5)

   key  Время нагрева дугой
0    1               1098.0
1    2                811.0
2    3                655.0
3    4                741.0
4    5                869.0

#### Вычисление статистики суммарного времени нагрева электродами: средние, минимальные и максимальные значения, медианы и величины 25%- и 75%-квартилей

In [16]:
#Вычисление среднего значения
#Вычисление минимального значения
#Вычисление максимального значения
#Вычисление медианы
#Вычисление значения 25%-квантиля
#Вычисление значения 75%-квантиля
time_heat_mean, time_heat_min, time_heat_max, time_heat_median, time_heat_q_25, time_heat_q_75  = \
        statistic_info (data_arc_heat_time,'Время нагрева дугой')

print('Среднее значение:',time_heat_mean)
print('Минимальное значение:',time_heat_min)
print('Максимальное значение:',time_heat_max)
print('Медиана:',time_heat_median)
print('Значение 25%-квантиля:',time_heat_q_25)
print('Значение 25%-квантиля:',time_heat_q_75)

Среднее значение: 794.58
Минимальное значение: 57.0
Максимальное значение: 4189.0
Медиана: 770.0
Значение 25%-квантиля: 571.0
Значение 25%-квантиля: 983.0

### Определение количества запусков нагрева электродами

In [17]:
#Вычислим и добавим в таблицу количество нагревов
data_arc_heat_counts = data_arc.groupby(['key']).size().reset_index(name='Количество нагревов')
data_arc_heat_counts.head(5)

   key  Количество нагревов
0    1                    5
1    2                    4
2    3                    5
3    4                    4
4    5                    4

#### Вычисление статистики количества запусков нагрева электродами: средние, минимальные и максимальные значения, медианы и величины 25%- и 75%-квартилей

In [18]:
#Вычисление среднего значения
#Вычисление минимального значения
#Вычисление максимального значения
#Вычисление медианы
#Вычисление значения 25%-квантиля
#Вычисление значения 75%-квантиля
heat_counts_mean, heat_counts_min, heat_counts_max, heat_counts_median, heat_counts_q_25, heat_counts_q_75  = \
        statistic_info (data_arc_heat_counts,'Количество нагревов')

print('Среднее значение:',heat_counts_mean)
print('Минимальное значение:',heat_counts_min)
print('Максимальное значение:',heat_counts_max)
print('Медиана:',heat_counts_median)
print('Значение 25%-квантиля:',heat_counts_q_25)
print('Значение 25%-квантиля:',heat_counts_q_75)

Среднее значение: 4.63
Минимальное значение: 1
Максимальное значение: 16
Медиана: 4.0
Значение 25%-квантиля: 4.0
Значение 25%-квантиля: 6.0

### Определение среднего соотношение потребления активной и реактивной мощности

In [19]:
#Вычислим и добавим в таблицу отношение мощностей
data_arc['Соотношение мощностей'] = data_arc['Активная мощность'] / data_arc['Реактивная мощность']
data_arc.head(5)

,key,Начало нагрева дугой,Конец нагрева дугой,Активная мощность,Реактивная мощность,Время нагрева дугой,Соотношение мощностей
0,1,2019-05-03 11:02:14,2019-05-03 11:06:02,0.976059,0.687084,228.0,1.420582
1,1,2019-05-03 11:07:28,2019-05-03 11:10:33,0.805607,0.520285,185.0,1.548395
2,1,2019-05-03 11:11:44,2019-05-03 11:14:36,0.744363,0.498805,172.0,1.492292
3,1,2019-05-03 11:18:14,2019-05-03 11:24:19,1.659363,1.062669,365.0,1.561504
4,1,2019-05-03 11:26:09,2019-05-03 11:28:37,0.692755,0.414397,148.0,1.671717

In [20]:
#Сгруппируем данные по ключу с вычислением среднего по соотношению мощностей
data_arc_power_rate = data_arc[['key','Соотношение мощностей']].groupby(by=['key'], as_index = False).mean()
data_arc_power_rate.head(5)

   key  Соотношение мощностей
0    1               1.538898
1    2               1.551834
2    3               1.583120
3    4               1.563487
4    5               1.480428

#### Вычисление статистики среднего соотношение потребления активной и реактивной мощности: средние, минимальные и максимальные значения, медианы и величины 25%- и 75%-квартилей

In [21]:
#Вычисление среднего значения
#Вычисление минимального значения
#Вычисление максимального значения
#Вычисление медианы
#Вычисление значения 25%-квантиля
#Вычисление значения 75%-квантиля
power_rate_mean, power_rate_min, power_rate_max, power_rate_median, power_rate_q_25, power_rate_q_75  = \
        statistic_info (data_arc_power_rate,'Соотношение мощностей')

print('Среднее значение:',power_rate_mean)
print('Минимальное значение:',power_rate_min)
print('Максимальное значение:',power_rate_max)
print('Медиана:',power_rate_median)
print('Значение 25%-квантиля:',power_rate_q_25)
print('Значение 25%-квантиля:',power_rate_q_75)

Среднее значение: 1.36
Минимальное значение: 0.68
Максимальное значение: 1.78
Медиана: 1.37
Значение 25%-квантиля: 1.29
Значение 25%-квантиля: 1.44

## Объедиение полученных данных

In [22]:
data_common = data_temp_group.join(data_arc_heat_time.set_index('key'), on = 'key', how = 'inner')
data_common = data_common.join(data_arc_heat_counts.set_index('key'), on = 'key', how = 'inner')
data_common = data_common.join(data_arc_power_rate.set_index('key'), on = 'key', how = 'inner')


data_list = {'Среднее значение': [time_temp_mean,time_heat_mean,heat_counts_mean,power_rate_mean], 
             'Минимальное значение': [time_temp_min,time_heat_min, heat_counts_min, power_rate_min],
             'Максимальное значение': [time_temp_max,time_heat_max, heat_counts_max, power_rate_max],
             'Медиана': [time_temp_median,time_heat_median, heat_counts_median, power_rate_median],
             'Значение 25%-квантиля:': [time_temp_q_25,time_heat_q_25, heat_counts_q_25, power_rate_q_25],
             'Значение 75%-квантиля:': [time_temp_q_75,time_heat_q_75, heat_counts_q_75, power_rate_q_75]} 


data_statistic = pd.DataFrame(data_list,index =['Длительности времени между первым и последним замером температуры', 
                                                'Суммарное времени нагрева электродами', 
                                                'Количество запусков нагрева электродами', 
                                                'Среднее соотношение потребления активной и реактивной мощности'])

## Вывод результатов

In [23]:
data_common.head(5)

,key,Длительность между первым и последним замером температуры,Время нагрева дугой,Количество нагревов,Соотношение мощностей
0,1,861.0,1098.0,5,1.538898
5,2,1305.0,811.0,4,1.551834
11,3,1300.0,655.0,5,1.583120
16,4,388.0,741.0,4,1.563487
19,5,762.0,869.0,4,1.480428

In [24]:
data_statistic

,Среднее значение,Минимальное значение,Максимальное значение,Медиана,Значение 25%-квантиля:,Значение 75%-квантиля:
Длительности времени между первым и последним замером температуры,1427.55,0.00,23537.00,1334.00,606.50,2005.75
Суммарное времени нагрева электродами,794.58,57.00,4189.00,770.00,571.00,983.00
Количество запусков нагрева электродами,4.63,1.00,16.00,4.00,4.00,6.00
Среднее соотношение потребления активной и реактивной мощности,1.36,0.68,1.78,1.37,1.29,1.44

## Общий вывод

***В ходе работы была рассмотрена следующая задача:***

*Вам поручили изучить характеристики процесса обработки стали. Для каждого значения столбца key найдите:
    Длительность времени между первым и последним замером температуры. Суммарное время нагрева электродами, то есть сумму значений по всем промежуткам между запусками нагрева электродов. Количество запусков нагрева электродами. Среднее соотношение потребления активной и реактивной мощности. По всем полученным столбцам вычислите статистики: средние, минимальные и максимальные значения, медиану и величины 25%- и 75%-квартилей.*
    
***В результате проделанной работы все требуемые в задаче данные были найдены и объединены в две сводные таблицы:***
- *`data_common`* - *содержит вычисленные метрики;*
- *`data_statistic`* - *содержит статистические характеристики вычисленных метрик.*